
@{
    ViewBag.Title = "CardDraw";
}

<h2>CardDraw</h2>






    

<div class="row">
   
        @foreach (var image in ViewBag.Image)
        {

            <img src="@image" alt="Alternate Text" />


        }
    
   
</div>
